/* Coolors Exported Palette - coolors.co/011627-fdfffc-2ec4b6-e71d36-ff9f1c */

/* HSL */
$color1: hsla(207%, 95%, 8%, 1);
$color2: hsla(100%, 100%, 99%, 1);
$color3: hsla(174%, 62%, 47%, 1);
$color4: hsla(353%, 81%, 51%, 1);
$color5: hsla(35%, 100%, 55%, 1);

/* RGB */
$color1: rgba(1, 22, 39, 1);
$color2: rgba(253, 255, 252, 1);
$color3: rgba(46, 196, 182, 1);
$color4: rgba(231, 29, 54, 1);
$color5: rgba(255, 159, 28, 1);



/* Coolors Exported Palette - coolors.co/aa94a1-abbacf-697a98-2e7593-16262e */


/////////////// PASTEL BLUES  /////////
/* HSL */
$color1: hsla(325%, 11%, 62%, 1);
$color2: hsla(215%, 27%, 74%, 1);
$color3: hsla(218%, 19%, 50%, 1);
$color4: hsla(198%, 52%, 38%, 1);
$color5: hsla(200%, 35%, 13%, 1);

/* RGB */
$color1: rgba(170, 148, 161, 1);
$color2: rgba(171, 186, 207, 1);
$color3: rgba(105, 122, 152, 1);
$color4: rgba(46, 117, 147, 1);
$color5: rgba(22, 38, 46, 1);


//////     GREENS AND A RED     /////////

/* Coolors Exported Palette - coolors.co/0b2027-105e50-70a9a1-dee5e5-b80c09 */

/* HSL */
$color1: hsla(195%, 56%, 10%, 1);
$color2: hsla(169%, 71%, 22%, 1);
$color3: hsla(172%, 25%, 55%, 1);
$color4: hsla(180%, 12%, 88%, 1);
$color5: hsla(1%, 91%, 38%, 1);

/* RGB */
$color1: rgba(11, 32, 39, 1);
$color2: rgba(16, 94, 80, 1);
$color3: rgba(112, 169, 161, 1);
$color4: rgba(222, 229, 229, 1);
$color5: rgba(184, 12, 9, 1);


rgba(32, 122, 101, 1);
